node_modules
dist
.vite
coverage
playwright-report
test-results
.DS_Store
.env
.env.*
!.env.example
.idea
output/playwright*
.playwright-cli
/db_a11yop_*.sql

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
