#wrap {
  display: flex;
  align-items: normal;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100%;
}

#container {
  flex: 1;
}

#container > .inner {
  min-height: 60rem;
}

#container .in-between {
  display: flex;
  align-items: normal;
  justify-content: flex-start;
  flex-direction: row;
  gap: var(--krds-gap-12);
}

#container .in-between .krds-side-navigation {
  width: 29.6rem;
  padding: var(--krds-padding-10) var(--krds-padding-10) var(--krds-padding-10) 0;
  border-right: var(--krds-light-border-width-static-regular) solid
    var(--krds-light-color-divider-gray-light);
}

#container .in-between .contents {
  flex: 1;
  padding-bottom: var(--krds-gap-12);
}

[data-krds-mode='high-contrast'] #container .in-between .krds-side-navigation {
  border-right: var(--krds-high-contrast-border-width-static-regular) solid
    var(--krds-high-contrast-color-divider-gray-light);
}

@media (prefers-color-scheme: dark) {
  [data-krds-mode='theme'] #container .in-between .krds-side-navigation {
    border-right: var(--krds-high-contrast-border-width-static-regular) solid
      var(--krds-high-contrast-color-divider-gray-light);
  }
}

@media (max-width: 1023px) {
  #container .in-between .krds-side-navigation {
    display: none;
  }

  #container .in-between .contents {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  #container > .inner {
    min-height: 50rem;
  }

  #container .in-between .contents {
    padding-right: 0;
  }
}
